
.inner_page_text_based.about_page_column
  %h1 Who are we?

  %p.about_p_one Guide To Be is the first independent UK site dedicated to user reviews of wedding suppliers. Real couples share honest reviews, to help others make their dream wedding come true.
  %img.about_img.visible-xs{:src => "/assets/about_image.jpg"}/
  %p Guide To Be was founded in 2014 by sisters Eve and Tessa. The idea was born when Eve was living in Sydney but planning a wedding in the UK and needed the inside scoop on her suppliers. There were no independent sources or dedicated wedding review sites to help make an informed choice.  So she teamed up with Tessa and together they created Guide To Be.

  %p.about_p_three Welcome to the Guide To Be community! We’re delighted to have you on board.

  %p
    %strong Eve & Tessa x