<div class="inner_page_text_based">
  <h1>Cookie Policy</h1>

  <p>
  This Cookies Policy forms part of the Privacy Policy.  It explains which cookies are used on the Guide To Be Limited website at <a href="www.guidetobe.co.uk">www.guidetobe.co.uk</a> (the "Website"), why they are used, and how you can control their use.
  </p>

  <p>
  Cookies are small text files that websites often store on computer hard drives or mobile devices ("computers") of visitors to their sites. They are widely used in order to make websites work, or work more efficiently, as well as to provide information to the owners of the site.
  </p>

  <p>
  A cookie contains a unique number, which is used to recognise a computer when a user returns to a website that has been visited previously.  We use cookies to enhance the online experience of our visitors (for example, by remembering your preferences and letting you navigate between pages efficiently) and to better understand how the Website is used. Cookies may tell us, for example, whether you have visited the Website before or whether you are a new visitor.
  </p>

  <p>
  There are two broad categories of cookies – ‘first party cookies’ and ‘third party cookies’:
  </p>

  <p>
  First party cookies are cookies that are generally served directly by a website operator to your computer. They are used only by the website operator to recognise your computer when it revisits that site.
  </p>

  <p>
  Third party cookies are generally served by a service provider on behalf of a website operator, and can be used by the service provider to recognise your computer or mobile device when it visits other websites.  Third party cookies are most commonly used for website analytics or advertising purposes.
  </p>

  <p>
  Cookies can remain on your computer for different periods of time.  Some cookies are 'session cookies', meaning that they exist only while your browser is open.  These are deleted automatically once you close your browser.  Other cookies are 'permanent cookies', meaning that they survive after your browser is closed.  They can be used by websites to recognise your computer when you open your browser and browse the internet again.
  </p>

  <p>
  The Website serves only the following cookies to your computer or mobile device:
  </p>

  <ul>
    <li>Session Cookie - served by our website. This cookies is essential out our site to enable brides and suppliers to login to the Website.</li>
  </ul>

  <p>
  You can block cookies by changing your browser settings so that cookies from the Website cannot be placed on your computer or mobile device. Some third parties also provide the ability to refuse their cookies directly by clicking on an opt-out link. Please note that if you choose to refuse cookies you may not be able to use the full functionality of the Service.
  </p>

  <p>
  Further information about cookies, including how to see what cookies have been set on your device and how to manage and delete them, visit <a href="http://www.allaboutcookies.org" target="_blank">www.allaboutcookies.org</a> and <a href="http://www.youronlinechoices.eu" target="_blank">www.youronlinechoices.eu</a>
  </p>


</div>