.inner_page_text_based.faq_page
  .home_links.faq_page_links_wrapper
  %h1 Sorry!

  %p Due to lots of people signing up, we are currently migrating our servers which is why this page isn't working. We should be fully up and running by next week (10th March).

  %p If you need to get in touch with us then you can #{link_to 'contact us', contact_path}.