<div class="logo"></div>
<div class="inner_text">
  <p><strong>LIVE JANUARY 2014</strong></p>
  <p>Hello! You've found Guide To Be, the first UK site dedicated to user reviews of the wedding industry. Real brides like you will share reviews of their wedding suppliers to help others make the right choices for their Big Day.</p>
  <p>Please come and visit us when we go live in January.</p>
  <p>If you can't wait until then, contact <a href="mailto:eve@guidetobe.co.uk">eve@guidetobe.co.uk</a> with any questions.</p>
  <p>Happy wedding planning!</p>
  <p class="copyright">© 2013</p>
</div>
