<div class='inner_page_text_based terms_page' id="top">
  <h1>Supplier Sticker</h1>
  <p> If your business is on Guide To Be you're entitled to use our Supplier Sticker. Click on the download button below to get the sticker for your site.</p>

   <div class="competition_image" style='width: 900px;'>
      <%= image_tag "supplier_badge.png", :style => "display: block; margin-left: auto; margin-right: auto;" %>
      <%= link_to image_tag("download_button.png", :action => 'download', :style => "display: block; margin-left: auto; margin-right: auto; padding-top: 20px;"), '/download' %>
    </div>

</div>

  
