.inner_page_text_based
  %h1 Thanks for upgrading your business listing
  %p
    Go to your #{link_to 'business listing', edit_supplier_path(current_owner.supplier) } to make the most of your new package.