.package_wrapper
  .package
    %ul.package_list{style: 'margin-top: 45px;'}
      %li Create business listing
      %li Upload your logo
      %li Add multiple contact details
      %li Appear in searches for your region and category
      %li Write business description
    %p.price Free
  .package.silver
    %p
      %span.small_premium_inline_icon
    %p.plusline{style: 'font-weight: bold; font-size: 18px;'}  +
    %ul.package_list{style:'color: #59595c;'}
      %li Respond to reviews
      %li Add social media links
      %li Upload images and video
      %li Create detailed listing
    %p.price £99 per year
  .package.gold
    %p
      %span.small_premium_inline_icon + silver +

    %ul.package_list
      %li No competitor banner ads on your business page
    %p.price £149 per year